

body{
    background-color: #f2f2f2;
}

//---------index.js--------------------------

h3 {
//    margin-Bottom: rhythm(1 / 4);
    margin-Bottom: 0.25rem;
}

link { 
    box-Shadow: none ;
} 

//---------blog-post.js--------------------------

h1 {
//    margin-Top: rhythm(1);
    margin-Top: 1rem;
    margin-Bottom: 0px;
}

p {
    scale: (-1 / 5);
    display: block;
//    margin-Bottom: rhythm(1);
    margin-Bottom: 1rem;
}

hr {
//    margin-Bottom: rhythm(1);
    margin-Bottom: 1rem;
}

ul {
    display: flex;
    flex-Wrap: wrap;
    justify-Content: space-between;
    list-Style: none;
    padding: 0;
}

//---------layout.js--------------------------

h1 {
    scale: (1.5);
//    margin-Bottom: rhythm(1.5);
    margin-Bottom: 1.5rem;
    margin-Top: 0;
}

link {
    box-Shadow: none;
    text-Decoration: none;
    color: inherit;
}

h3 {
    font-Family: Montserrat, sans-serif;
    margin-Top: 0;
}

.layoutdiv {
    margin-Left: auto;
    margin-Right: auto;
//    max-Width: rhythm(24);
//    padding: rhythm(1.5) rhythm(3 / 4);
//    padding: 1.5rem 0.75rem;
}

//---------bio.js--------------------------

.biodiv {
    display: flex;
//    margin-Bottom: rhythm(2.5);
    margin-Bottom: 2.5rem;
}

image {
//    margin-Right: rhythm(1 / 2);
    margin-Right: 0.5rem;
    margin-Bottom: 0;
    min-Width: 50;
    border-Radius: 100%;
}

img {
//    border-Radius: 50%;
}

//---------original--------------------------



.aaa{
    background-color: #bbbbbb;
}



.home_container{
    max-width: 1260px;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.home_container_post{
    border: 1px dashed gray;
    text-align: center;
    padding: 12px;
}